body {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / 2fr 1fr;
}

header {
  background: darkslategray;
  color: white;
  padding: 5px;
  grid-column: 1 / 3;
}

h1 {
    padding: 20px;
}

.nav-list {
    width: 100%;
    padding: 25px 0px 25px 0px;
    background: lightslategray;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

main {
  background: black;
  color: white;
  text-align: center;
  grid-column: 1 / 2;
}

.right-sidebar {
  background: gray;
  color: white;
  grid-column: 2 / 3;
}

footer {
  background: darkslategray;
  color: white;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 3;
}

.right-sidebar, main {
  padding: 1rem;
}