:root {
    --neutral-color: #d3d3d3;
    --dark-neutral-color: #a9a9a9;
    --primary-color: #014d4e;
    --secondary-color: #330066;
    --font-size-large: 24px;
    --border-standard: 1px solid #888888;
}

* {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

header {
    background: var(--primary-color);
    border: var(--border-standard);
    width: 100%;
    margin: 0;
}

#course-title {
    display: block;
    text-align: center;
    font-size: 4rem;
    color: #fff;
}

#header-nav {
    display: flex;
    justify-content: space-around;
}

#header-nav li {
    list-style: none;
}

#header-nav a {
    text-decoration: none;
    color: #fff;
    border-right: var(--border-standard);
    border-left: var(--border-standard);
    padding-right: 25px;
    padding-left: 25px;
    font-size: 2rem;
}

#header-nav a:hover {
    text-decoration: underline;
}

.card a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 5rem;
    margin: 0;
    padding: 5px;
    color: var(--secondary-color);
}

main {
    max-width: 1200px;
    margin: 0 auto;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.card {
    border: var(--border-standard);
    border-radius: 25px;
    padding: 0;
    margin: 15px 5px 15px 5px;
    background: var(--neutral-color);
}

.card h2 {
    color: #fff;
    text-align: center;
    background-color: var(--secondary-color);
    margin-top: 0;
    font-size: 35px;
    border-radius: 25px;
}

.card h3 {
    color: var(--primary-color);
    text-align: center;
    margin: 0;
    font-size: 25px;
    font-weight: 450;
}

.card p {
    color: var(--secondary-color);
    font-weight: 450;
    padding: 25px;
    margin: 15px;
    line-height: 25px;
    word-spacing: 5px;
    font-size: 1.2rem;
}

.card img {
    float: right;
    border: var(--border-standard);
    border-radius: 10px;
    margin: 5px;
}

.card ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card li {
    list-style: none;
    padding: 15px 0px 5px 0px;
    font-size: 1.2rem;
}

.card a {
    text-decoration: none;
    color: var(--secondary-color);
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    color: #fff;
    font-size: 1.33rem;
}

footer p {
    margin: 10px;
    padding-top: 10px;
}

#lastModified {
    padding-bottom: 10px;
}