:root {
    --primary-color: #002776;
    --secondary-color: #009739;
    --tertiary-color: #FEDD00;
    --background-color: #FAFAF7;
    --border-standard: 1px solid #000;
    --border-transparent: 1px solid rgba(0, 0, 0, 0.5);
}

* {
    font-family: "Crimson Text", serif;
    font-style: normal;
}

header {
    background: var(--primary-color);
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 0px;
    border: var(--border-transparent);
    border-radius: 2px;
}

h1 {
    margin: 20px;
}

.hero-wrapper {
    position: relative;
}

.hero {
    border-left: var(--border-transparent);
    border-right: var(--border-transparent);
    border-top: 15px solid var(--tertiary-color);
    border-bottom: 5px solid var(--primary-color);
    border-radius: 2px;
    margin: 0;
    display: block;
    position: relative;
}

.data {
    background-color: var(--background-color);
    width: 100%;
    border: var(--border-transparent);
    border-radius: 2px;
    border-bottom: 5px solid var(--primary-color);
}

.data h2 {
    text-align: center;
}

.data ul {
    margin-bottom: 10px;
}

.data-info {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 0.75rem;
    max-width: 500px;
}

.data-info li {
    display: contents;
}

.data-info strong {
    text-align: right;
}

.weather {
    background-color: var(--background-color);
    width: 100%;
    border: var(--border-transparent);
    border-radius: 2px;
    border-bottom: 5px solid var(--primary-color);
}

.weather ul {
    margin-bottom: 10px;
}

.weather-title {
    display: flex;
    justify-content: center;
    margin: 0;
}

.weather-title h2 {
    padding-right: 3px;
}

.weather-info {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 0.75rem;
    max-width: 500px;
}

.weather-info span {
    display: contents;
}

.weather-info li {
    display: contents;
}

.weather-info strong {
    text-align: right;
}

footer {
    background-color: var(--secondary-color);
    border: var(--border-standard);
    border-radius: 2px;
    text-align: center;
    color: #fff;
    width: 100%;
}

footer p {
    margin: 10px;
    padding-top: 10px;
}

#lastModified {
    padding-bottom: 10px;
}

@media screen and (min-width: 1000px) {
    .data {
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 300px;
        border: var(--border-transparent);
        border-radius: 10px;
    }

    .data ul {
        padding-left: 10px;
        padding-right: 10px;
    }

    .weather {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        width: 200px;
        border: var(--border-transparent);
        border-radius: 10px;
    }

    .weather-title::selection {
        color: var(--secondary-color);
    }

    .weather ul {
        padding-left: 10px;
        padding-right: 10px;
    }
}