@media (min-width: 600px) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
        color: var(--secondary-color);
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	#header-nav {
		flex-direction: row;
	}

	#header-nav a {
		display: block;
	}

    .grid {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}